<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Hello</title>
	</head>
	<body style=" max-width: 7.5rem;margin: 0 auto;">
		<header>welcome</header>
		<div>
			<ul>
				<li style="width:100%;font-color:red;font-size:2rem;list-style: none;">css+div 页面布局=================</li>
				<li>css+div 页面布局</li>
				<li>css+div 页面布局</li>
				<li>css+div 页面布局</li>
				<li>css+div 页面布局</li>
			</ul>
		</div>
		<img alt="" th:src="@{/static/img/my-new.png}"/>
	</body>
</html>
