<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
	<head>
		<meta  charset="UTF-8" />
<!-- 		<script th:src="@{/js/jquery-1.8.0.min.js}"></script> -->
		<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js}"></script>
		<title>Hello</title>
	</head>
	<body>
	  <div class="container">
	    <h1>This is secured!</h1>
	    <p>
	      Hello <b><c:out value="${pageContext.request.remoteUser}"/></b>
	    </p>
	    <c:url var="logoutUrl" value="/logout"/>
	    <form class="form-inline" action="${logoutUrl}" method="post">
	      <input id="out" type="submit" value="Log out" />
	      <input id="token" type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
	    </form>
	  </div>
	</body>
	<script type="text/javascript">
		var token = $('#token').val();
		$('#out').click(function(){
			window.location.href="/login/out";
			
		})
		//alert(token);
	</script>
</html>
